[submodule "kicad-libraries"]
	path = kicad-libraries
	url = git@github.com:crides/kleeb.git
	branch = 1.0.1
[submodule "kleeb"]
	path = kleeb
	url = git@github.com:crides/kleeb.git
[submodule "Hirose_Electric_Co"]
	path = Hirose_Electric_Co
	url = git@github.com:eggsactly/Hirose_Electric_Co.git
[submodule "Transistors"]
	path = Transistors
	url = git@github.com:eggsactly/kicad6_transistors.git
[submodule "Keystone"]
	path = Keystone
	url = git@github.com:eggsactly/kicad6_Keystone.git
