[submodule "kicad-libraries"]
	path = kicad-libraries
	url = ../bare/kicad-libraries.git/
	branch = 1.0.1
[submodule "kleeb"]
	path = kleeb
	url = ../bare/kleeb.git/
[submodule "Hirose_Electric_Co"]
	path = Hirose_Electric_Co
	url = ../bare/Hirose_Electric_Co.git/
[submodule "SD"]
	path = SD
	url = ../bare/SD.git/
[submodule "Connector_PinHeader_2.54mm"]
	path = Connector_PinHeader_2.54mm
	url = ../bare/Connector_PinHeader_2.54mm.git/
[submodule "Transistors"]
	path = Transistors
	url = ../bare/Transistors.git/
[submodule "Keystone"]
	path = Keystone
	url = ../bare/Keystone.git/
