[submodule "kicad-libraries"]
	path = kicad-libraries
	url = ../bare/kicad-libraries.git/
	branch = 1.0.1
[submodule "kleeb"]
	path = kleeb
	url = ../bare/kleeb.git/
[submodule "Hirose_Electric_Co"]
	path = Hirose_Electric_Co
	url = ../bare/Hirose_Electric_Co.git/
[submodule "Transistors"]
	path = Transistors
	url = ../bare/Transistors.git/
[submodule "Keystone"]
	path = Keystone
	url = ../bare/Keystone.git/
